{% extends "layouts/public.twig" %}

{% block title %}Login
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<br><h3 style="text-align:center;">Login</h3>
	<div class="row">
		<div class="col"></div>
		<div class="col">
			<form action="{{ URL }}?controller=auth&action=doLogin" method="POST">
				<div class="form-group">
					<label>E-mail</label>
					<input type="email" name ="email" class="form-control" aria-describedby="emailHelp" placeholder="email">
					<br>

				</div>
				<div class="form-group">
					<label>Contraseña</label>
					<input type="password" name="password" class="form-control" placeholder="Contraseña">
				</div>
				<br>
				<button type="submit" class="btn btn-primary">Enviar</button>
			</form>
		</div>
		<div class="col"></div>
	</div><br>


{% endblock %}

{% block script %}{% endblock %}
